<section class="container-fluid px-0">
    <div class="jumbotron align-items-center">
        <div class="fondo">
            <div class="text-center mt-5 texto">
                <h1>Conócenos!</h1>
                <br>
                <h3>Los mejores productos, del campo a su mesa!</h3>
                <br>
            </div>
        </div>
    </div>
</section>


    <section class="intro container text-center mb-5">
        <h3>
            Trabajamos con diferentes campesinos y productores del país quienes con su experiencia y técnicas
            orgánicas nos permiten acercar el campo a tu casa, a través de alimentos libres de agroquímicos que
            te ayudarán a tener una vida saludable.
        </h3>
    </section>
    <br>
    <section class="container-fluid mb-5">
        <div class="row" id="bonito">
            <img class="bottom img-fluid rounded"
                src="../../../assets/img/maarten-van-den-heuvel-EzH46XCDQRY-unsplash.jpg" />
            <img class="top img-fluid rounded" src="../../../assets/img/megan-thomas-xMh_ww8HN_Q-unsplash.jpg"/>
        </div>
    </section>
    <br>

    <section class="beneficios">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12 text-left mt-5">
                    <h2>Nuestros Productos</h2>
                    <hr class="my-4">
                    <h4>Generamos mejoras sustentables en el bienestar de todas las personas que participan en
                        nuestros procesos, clientes, productores y colaboradores, por medio del comercio justo,
                        la inclusión social y el cuidado del medio ambiente.</h4>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="fas fa-seedling fa-6x text-success"></i>
                        <h3 class="mb-3">Alimentos frescos</h3>
                        <p class="text-muted mb-0">Traídos directo de la cosecha</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="far fa-handshake fa-6x text-success"></i>
                        <h3 class="mb-3">Apoyo al agro</h3>
                        <p class="text-muted mb-0">Al comprar al campesino</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="fas fa-money-bill-wave fa-6x text-success"></i>
                        <h3 class="mb-3">Ahorro</h3>
                        <p class="text-muted mb-0">Precios competitivos</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5">
                        <i class="fas fa-file-medical-alt fa-6x text-success"></i>
                        <h3 class="mb-3">Bienestar</h3>
                        <p class="text-muted mb-0">Pensando en su salud</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-4">
