<section class="jumbotron d-flex align-items-center">
    <div class="container">
        <div class="text-center text-light mt-2">
            <h1>Compra aquí</h1>
            <br>
            <h3>Los mejores productos, del campo a su mesa!</h3>
            <br>
        </div>
    </div>
</section>
<div class="container my-5">
    <div class="row col-12 justify-content-between">
        <div class="titulo">
            <h2>Los más frescos!</h2>
        </div>
        <form class="form-inline justify-content-end md-form form-sm mt-0">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75 border-warning" type="text"
                placeholder="Search" aria-label="Search">
        </form>
    </div>
</div>
<br>

<div class="container">
    <div class="d-flex justify-content-between align-items-end my-4">
        <div class="banner-mensaje">
            <h3>Nuestros vegetales</h3>
        </div>
    </div>
    <div class="row justify-content-center my-5" id="lista-productos1">

        <div class="col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/tomate-2.jpg" class="card-img-top" alt="tomate">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Tomate</h4>
                    <h6 class="subtitulo-carta">500gr</h6>
                    <h5 class="subtitulo-carta">$1.200</h5>
                    <button type="button" class="btn btn-outline-warning rounded w-50 agregar-carrito" id="13">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>

                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/cebolla-1.jpg" class="card-img-top" alt="cebolla">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Cebolla</h4>
                    <h6 class="subtitulo-carta">500gr</h6>
                    <h5 class="subtitulo-carta">$800</h5>
                    <button type="button" class="btn btn-outline-warning rounded w-50 
                    agregar-carrito" data-id="14">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/zanahoria-1.jpg" class="card-img-top" alt="zanahoria">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Zanahoria</h4>
                    <h6 class="subtitulo-carta">500gr</h6>
                    <h5 class="subtitulo-carta">$1200</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="15">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/mazorca.jpg" class="card-img-top" alt="maiz">
                </div>
                <div class=" titulo-cartas card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Maiz entero</h4>
                    <h6 class="subtitulo-carta">500gr</h6>
                    <h5 class="subtitulo-carta">$1200</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="16">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/pimiento.jpg" class="card-img-top" alt="pimenton">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">
                        Pimentón
                    </h4>
                    <h6 class="subtitulo-carta">250gr</h6>
                    <h5 class="subtitulo-carta">$600</h5>
                    <button type="button" class="btn btn-outline-warning rounded w-50 agregar-carrito"
                        data-id="17">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/papa.jpg" class="card-img-top" alt="papa">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Papa</h4>
                    <h6 class="subtitulo-carta">500gr</h6>
                    <h5 class="subtitulo-carta">$800</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="18">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="d-flex justify-content-between align-items-end my-4">
        <div class="banner-mensaje">
            <h3>Llegaron nuestras frutas!</h3>
        </div>
    </div>
    <div class="row justify-content-center my-5" id="lista-productos2">

        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/feijoa.jpg" class="card-img-top" alt="feijoa">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Feijoa</h4>
                    <h6 class="subtitulo-carta">500gr</h6>
                    <h5 class="subtitulo-carta">$1800</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="13">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>

                </div>
            </div>
        </div>
        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale ">
                <div class="overflow-h cursor">
                    <img src="../img/fresa.png" class="card-img-top" alt="fresa">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Fresa</h4>
                    <h6 class="subtitulo-carta">500gr</h6>
                    <h5 class="subtitulo-carta">$2000</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 
                   agregar-carrito" data-id="14">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/granadilla.jpg" class="card-img-top" alt="grana">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Granadilla</h4>
                    <h6 class="subtitulo-carta">500gr</h6>
                    <h5 class="subtitulo-carta">$1300</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="15">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/pera.jpg" class="card-img-top" alt="pera">
                </div>
                <div class=" titulo-cartas card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Pera</h4>
                    <h6 class="subtitulo-carta">500gr</h6>
                    <h5 class="subtitulo-carta">$2000</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="16">
                        <i class="fas fa-cart-plus fa-lg"></i></button>
                </div>
            </div>
        </div>
        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/manzana.jpg" class="card-img-top" alt="manzana">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Manzana</h4>
                    <h6 class="subtitulo-carta">300gr</h6>
                    <h5 class="subtitulo-carta">$1500</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="17">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/uvas.png" class="card-img-top" alt="uvas">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Uvas</h4>
                    <h6 class="subtitulo-carta">250gr</h6>
                    <h5 class="subtitulo-carta">$1500</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="18">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="d-flex justify-content-between align-items-end my-4">
        <div class="banner-mensaje">
            <h3>Hierbas</h3>
        </div>
    </div>
    <div class="row justify-content-center my-5" id="lista-productos3">

        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/albahaca.jpg" class="card-img-top" alt="albahaca">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Albahaca</h4>
                    <h6 class="subtitulo-carta">50gr</h6>
                    <h5 class="subtitulo-carta">$2.500</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="13">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>

                </div>
            </div>
        </div>
        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale ">
                <div class="overflow-h cursor">
                    <img src="../img/manzanilla.jpg" class="card-img-top" alt="manzanilla">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Manzanilla</h4>
                    <h6 class="subtitulo-carta">200gr</h6>
                    <h5 class="subtitulo-carta">$1.930</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 
                   agregar-carrito" data-id="14">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class=" col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/perejil.jpg" class="card-img-top" alt="perejil">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Perejil</h4>
                    <h6 class="subtitulo-carta">100gr</h6>
                    <h5 class="subtitulo-carta">$2.710</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="15">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/hierbabuena.jpg" class="card-img-top" alt="hierbabuena">
                </div>
                <div class=" titulo-cartas card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Hierbabuena</h4>
                    <h6 class="subtitulo-carta">50gr</h6>
                    <h5 class="subtitulo-carta">$2.790</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="16">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/eneldo.jpg" class="card-img-top" alt="eneldo">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Eneldo</h4>
                    <h6 class="subtitulo-carta">50gr</h6>
                    <h5 class="subtitulo-carta">$2.370</h5>
                    <button type="button" class="btn btn-outline-warning  rounded w-50 agregar-carrito"
                        data-id="17">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4 my-2">
            <div class="card scale">
                <div class="overflow-h cursor">
                    <img src="../img/tomillo.jpg" class="card-img-top" alt="tomillo">
                </div>
                <div class="card-body d-flex flex-column align-items-center p-2">
                    <h4 class="titulo-carta card-title">Tomillo</h4>
                    <h6 class="subtitulo-carta">20gr</h6>
                    <h5 class="subtitulo-carta">$2.990</h5>
                    <button type="button" class="btn btn-outline-warning rounded w-50 agregar-carrito"
                        data-id="18">
                        <i class="fas fa-cart-plus fa-lg icono-carrito"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
