body  h1,  h2 {
    font-family: 'Lato', sans-serif;
    color: #000000;
    z-index: 3;
}
p{
    font-size: 20px;
}
.inicio {
    background-size: 100%;
    background-image:url(../../../assets/img/img-inicio/fondo.png);
    background-repeat: no-repeat;
    box-shadow: 50px 50px 50px 50px #ffffff;

}
.imagen {
    border-radius: 15px;
    border: 2px solid #009ff5;
    box-shadow: 0px 10px 10px rgba(0, 0, 0,0.50);
}
h1>a {
    color: #000000;
    text-decoration: none;
}
h1>a:hover {
    color: #009ff5;
    text-decoration: underline;
    text-decoration-color:#009ff5;
    transition: all 0.2s;
    -webkit-text-stroke: 1px #000000;

}
.c-imagen{
    position: relative;
}
.c-imagen  img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.capa{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,118,192,0.781);
    width: 100%;
    height: 0;
    border-radius: 15px;
    overflow: hidden;
    transition: 1s;
}
.capa > h3{
    color: #ffffff;
    position: absolute;
    font-size: 30px;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.c-imagen:hover .capa{
    height: 100%;
}
