h1 {
    font-family: 'Lato', sans-serif;
}
.imagen{
    border:4px solid #009ff5;
    border-radius: 40%;
    box-shadow: 5px 5px 5px 5px;
}

.contenedor{
    border: 4px solid #38df3d;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 5px;
    background-color: #ffffff;
}
.titulo{
    box-shadow: 5px 10px 18px #888888;
}
.perfil{
    background-image: url("../../../assets/img/img-inicio/fondo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}